body {
  margin: 0;
  padding: 0;
  background-color: hsl(47, 88%, 63%);
  font-family: "Figtree", sans-serif;
  display: flex;
  flex-direction: column;
}
.card {
  margin: 20px;
  padding: 20px;
  background-color: hsl(0, 0%, 100%);
  max-width: 320px;
  align-self: center;
  border: solid 2px;
  border-radius: 15px;
  border-color: hsl(0, 0%, 7%);
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px hsl(0, 0%, 7%);
}

.illustration {
  width: 90%;
}
.tag {
  background-color: hsl(47, 88%, 63%);
  width: 100px;
  border-radius: 5px;
  margin-top: 10px;
}
.tag p {
  font-weight: 800;
  font-size: 15px;
  justify-self: center;
}

.date {
}

.title {
}

.description {
}

.profile {
  display: flex;
  flex-direction: row;
}

.attribution {
  align-self: center;
}
