body {
  background-color: hsl(47, 88%, 63%);
  font-family: "Figtree", sans-serif;
  display: flex;
  flex-direction: column;
}
.card {
  margin: 50px;
  padding: 20px;
  background-color: hsl(0, 0%, 100%);
  max-width: 320px;
  width: 80%;
  justify-self: center;
  align-self: center;
  border: solid 2px;
  border-radius: 15px;
  border-color: hsl(0, 0%, 7%);
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px hsl(0, 0%, 7%);
}

.illustration {
  justify-self: center;
  border-radius: 10px;
  width: 100%;
}
.tag {
  background-color: hsl(47, 88%, 63%);
  width: 90px;
  border-radius: 5px;
  margin-top: 10px;
}
.text {
  font-weight: 800;
  font-size: 15px;
  justify-self: center;
  line-height: 3px;
}

.date {
  font-size: 15px;
}

.title {
  font-size: 20px;
  font-weight: 800;
}
.title:hover {
  color: hsl(47, 88%, 63%);
}

.description {
  color: hsl(0, 0%, 42%);
  font-size: 16px;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.profile_picture {
  width: 40px;
  margin-right: 10px;
}
.name {
  font-weight: 700;
  font-size: 15px;
}
.attribution {
  align-self: center;
  font-size: 12px;
  margin-bottom: 20px;
}
